<!-- _form_show.html.erb -->

<div class="row edit_show">
    <div class="panel panel-default col-lg-12">
        <%= form_with(model: record, local: true) do |form| %>
            <% if record.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>
                <ul>
                    <% record.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
            <% end %>
            <div class="actions pull-right">
                <%= form.submit %>
            </div>
            <div class="btn-group">
                <div class=" panel-button-name btn btn-primary pull-left">
                    Client Info 
                </div>
                <div class=" panel-button-client btn btn-primary pull-left">
                    Loan Info 
                </div>
                <div class=" panel-button-agent btn btn-primary pull-left">
                    Agent
                </div>
                
            </div>
            <div class="col-lg-5">
            <!--      <div class=" panel-button-client btn btn-primary pull-left">
            Client Info 
            </div> -->

            <div class="panel-body panel-name" style="">
                <h4 >Client Info :</h4> 
                <div class="field form_imput">
                    <%= form.label :loan_name %>
                    <%= form.text_field :loan_name, class: "form-control"  %>

                    <%= form.label :client_first_name %>
                    <%= form.text_field :client_first_name, class: "form-control"  %>

                    <%= form.label :client_last_name %>
                    <%= form.text_field :client_last_name, class: "form-control"  %>

                    <%= form.label :client_nick %>
                    <%= form.text_field :client_nick, class: "form-control"  %>
                    <!--        </div>
                    <div class="field"> -->
                    <%= form.label :address_street %>
                    <%= form.text_field :address_street, class: "form-control"  %>

                    <%= form.label :address_city %>
                    <%= form.text_field :address_city, class: "form-control"  %>

                    <%= form.label :address_state %>
                    <%= form.text_field :address_state, class: "form-control"  %>

                    <%= form.label :address_zip %>
                    <%= form.text_field :address_zip, class: "form-control"  %>
                    <!--      </div>
                    <div class="field"> -->
                    <%= form.label :guarantee01 %>
                    <%= form.text_field :guarantee01, class: "form-control"  %>
                    <% if(@record.guarantee02 != "none") %>
                        <%= form.label :guarantee02, class: "form-control"  %>
                        <%= form.text_field :guarantee02 %>
                    <% elsif(@record.guarantee03 != "none") %>
                        <%= form.label :guarantee03 %>
                        <%= form.text_field :guarantee03, class: "form-control"  %>
                    <% end %>
                    <!--    </div>
                    <div class="field"> -->
                    <%= form.label :fin_fee %>
                    <%= form.text_field :fin_fee, class: "form-control"  %>
                    <%= form.label :repay_term1 %>
                    <%= form.text_field :repay_term1,  class: "  form-control " %>
                    <%= #form.text_field :repay_term1, ['7', '8', '10', '12', '18', '24'], class: "custom-select" 
                    %>
                    <% if(@record.repay_term2.to_s != "0") %>
                        <%= form.label :repay_term2.to_s + ":nth" %>
                        <%= form.text_field :repay_term2,  class: "form-control"%>
                    <% end %>
                    <%= form.label :repay_mature %>
                     <div class="cap-form" style="width:190px;">    
                        <%= form.date_select :repay_mature, class: "form-control"  %>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-lg-5">
            <!--    <div class=" panel-button-name btn btn-primary  pull-left">
                   Loan Info 
            </div> -->
                <div class="panel-body panel-client"  style="">                <h4 >Loan Info :</h4> 
                    <div class="field form_imput">
                    <%= form.label :current_date %>
                    <div class="cap-form">
                        <%= form.date_select :current_date, class: "custom-control  form-control " %>
                    </div>
                    <%= form.label :note_date %>
                    
                    <%= form.text_field :note_date, class: "form-control"  %>
                    <!--  </div>
                    <div class="field"> -->
                    <%= form.label :loan_amount %>
                    <%= form.text_field :loan_amount, class: "form-control"  %>
                        <!-- </div>
                        <div class="field"> -->
                    <%= form.label :total_amount %>
                    <%= form.text_field :total_amount, class: "form-control"  %>

                    <%= form.label :payment_mth_day %>
                    <%= form.text_field :payment_mth_day, class: "form-control"  %>

                    <%= form.label :loan_act_fee %>
                    <%= form.text_field :loan_act_fee, class: "form-control"  %>


                    <%= form.label :final_date %>
                    <%= form.text_field :final_date, class: "form-control" %>
                    
                    <%= form.label :stated_rate %>
                    <div class="cap-form">
                        <%= form.text_field :stated_rate, class: "form-control" %>
                    </div>

                    <%= form.label :repay_penalty %>
                    <div class="cap-form">
                        <%= form.text_field :repay_penalty, class: "form-control"  %>
                    </div>

                    <%= form.label :daily_late_fee %>
                    <div class="cap-form">
                        <%= form.text_field :daily_late_fee, class: "form-control"  %>
                    </div>

                    <%= form.label :total_default %>
                    <%= form.text_field :total_default, class: "form-control"  %>
                    <!--   </div>
                    <div class="field"> -->
                    <%= form.label :repay_start %>
                    <%= #form.date_select :current_date 
                    %>
                    <div class="cap-form">
                        <%= form.date_select :repay_start, class: "custom-control form-control " %>
                    </div>

                    <%= form.label :repay_1st %>
                    <div class="cap-form">    
                        <%= form.date_select :repay_1st, class: "custom-control form-control "  %>
                    </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class=" panel-body  panel-agent pull-left" >
                    <h4 >Agent Info :</h4> 
                        <div class="panel-body">
                    <div class="field form_imput">
                        <%= form.label "Commencement Month" %>
                        <%= form.text_field :commencement_m, class: "form-control" %>

                        <%= form.label "Commencement Year" %>
                        <%= form.text_field :commencement_y, class: "form-control" %>
                        <br />
                        <%= form.label "Total Deduction" %>
                        <%= form.text_field :total_ded, class: "form-control" %>

                        <%= form.label :r3001_date %>
                        <%= form.text_field :r3001_date, class: "form-control" %>

                        <%= form.label :agent_num %>
                        <%= form.text_field :agent_num, class: "form-control" %>

                        <%= form.label :agent_email %>
                        <%= form.text_field :agent_email, class: "form-control" %>

                        <%= form.label :agent_phone %>
                        <%= form.text_field :agent_phone, class: "form-control" %>

                        <%= form.label "Assignment in months" %>
                        <%= form.text_field :term_assignment_mths, class: "form-control" %>
                        <h4>
                            <%= form.label :position %><br />
                        </h4>
                        <%= #form.text_field :position 
                        %>
                        <%= #form.checkbox(:position, [:id, :name]) 
                        %>
                        <%= #form.check_box :position, ['seventh', 'eighth', 'tenth'], class: "custom-select" 
                        %>
                        <!--  <div class="input-group mb-3 cap-form">
                            <div class="input-group-prepend">
                                <div class="input-group-text form_imput check_box_form "> -->
                                    <!-- <input type="checkbox" aria-label="Checkbox for following text input">

               
                                </div>
                            </div>
                            -->
        
                            <%= #form.check_box :position, :class "form-control" {north: "up", south: "down"  }, "true", "false"
                            %>
                            <!-- <input type="text" class="form-control" aria-label="Text input with checkbox"> -->
                        <!-- </div> -->
                        <div class="cap-form">
                            <%= form.check_box(:position, {:multiple => true}, "sit", nil)          %>   Sit        <br />
                            <%= form.check_box(:position, {:multiple => true}, "fetch", nil)        %>   Fetch      <br />
                            <%= form.check_box(:position, {:multiple => true}, "roll_over", nil)    %>   Roll over  <br />
                            <%= form.check_box(:position, {:multiple => true}, "play_dead", nil)    %>   Play Dead  <br />
                            <%= form.check_box(:position, {:multiple => true}, "paw", nil)          %>   Gimmie Paw <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="actions  pull-right ">
                <%= form.submit %>
            </div>
        <!-- </div> -->
        <% end %>
    <!-- </div> -->
    </div>
</div>
