
<!-- <div class="row"> -->
    <div class="panel row whole-page panel-body" >
        <!-- <div class=""> -->
            <%= form_with(model: record, local: true ) do |form| %>
            <% if record.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>
                    <ul>
                        <% record.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
        <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="panel-body"> -->
        <div class="col-lg-2 outline" style="background:#90DFD9;  padding: 10px; height:100%; ">
          <!-- <div class="panel"> -->
            <div class="field form_imput input-group input-group-sm form-part">
            <h3> <%= form.label "Loan Information:" %></h3>
            
                <%= form.label "Loan in Company Name" %>
                <%= form.text_field :loan_name,                                     class: "form-control"  %>

                <%= form.label :client_first_name %>
                <%= form.text_field :client_first_name,                             class: "form-control"  %>

                <%= form.label :client_last_name %>
                <%= form.text_field :client_last_name,                              class: "form-control"  %>

                <%= form.label :client_nick %>
                <%= form.text_field :client_nick,                                   class: "form-control"  %>
                <br >
                <%= form.label "Street :" %>
                <%= form.text_field :address_street,                                class: "form-control"  %>

                <%= form.label "City :" %>
                <%= form.text_field :address_city,                                  class: "form-control"  %>

                <%= form.label "State :" %>
                <%= form.text_field :address_state,                                 class: "form-control"  %>

                <%= form.label "Zip :" %>
                <%= form.text_field :address_zip,                                   class: "form-control"  %>
                <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>

        <div class="col-lg-2  outline" style="background:#c1d4ee;  padding: 10px; height:100%; ">
            <div class="panel">
                <div class="field form_imput">
                    <h3><%= form.label "Schedule : " %></h3><br />
                    
                        <%= form.label "Payment Day of Month" %>
                        <%= form.text_field :payment_mth_day,                       class: "form-control"  %>
                  
                        <%= form.label :loan_act_fee %>
                        <%= form.text_field :loan_act_fee,                          class: "form-control"  %>

                        <%= form.label "Term in months" %>
                        <%= form.text_field :repay_term1
                        %>
                        <%= #form.select :repay_term1, ['7', '8', '10', '12', '18', '24'], class: "custom-select" 
                        %>
                        <%= form.label "Term in n:th" %>
                        <%= #form.select :repay_term2, ['seventh', 'eighth', 'tenth', 'twelfth', 'eighteenth', 'twentyfourth'],               class: "custom-select" 
                        %>
                       <%= form.text_field :repay_term2
                        %>
                        <%= form.label :stated_rate.to_s + " %"%>
                        <%= form.text_field :stated_rate, size: 4 ,                 class: "form-control" %>
                    
                </div>
            </div>

            <div class="panel">
                    <div class="field  form_imput outline">

                        <%= form.label "Backer" 
                        %> 
                        <%= form.text_field :guarantee01,   value:   @full_name,                          class: "form-control"  %>
                        
                        <%= form.label "Backer 2"
                        %> 
                        <%= form.text_field :guarantee02,                               class: "form-control"  %>
                        
                        <%= form.label "Backer 3" 
                        %> 
                        <%= form.text_field :guarantee03,                               class: "form-control"  %>
                </div>
            </div>
        </div>

        <div class="col-lg-2  outline " style="background:#6897bb;  padding: 10px; height:100%; ">
            <div class="panel ">
                <div class="field  form_imput">
                   
                        <h3><%= form.label "Finance : " %></h3><br />

                        <%= form.label :loan_amount.to_s + " $" %>
                        <%= form.text_field :loan_amount ,                          class: "form-control" %>


                        <%= form.label "Monthly Finance fee" + " $" %>
                        <%= form.text_field :repay_penalty ,                        class: "form-control" %>


                   
                        <% #else 
                        %>
                        <%= #form.label get_total{record} 
                        %>
                            <%= #form.text_field :daily_late_fee,                                                     class: "form-control"

                            %>
                        <% # end 
                        %>

                        <%= form.label "Total Payment Fees" + " $" 
                        %>
                        <%= form.text_field :total_amount ,                         class: "form-control" 
                        %>

                        <%=  form.label "Penalty $" + :pay_pen.to_s  #+ ( record.loan_amount / record.repay_term1 ) 
                        %>
                        <%= form.text_field :pay_pen,                                     class: "form-control"
                        %>
                        <%= form.label "Total Finance fees" + " $" + "(MFF * term)" %>
                        <%= form.text_field :fin_fee,                                    class: "form-control" %>


                        <%= form.label "Daily late fee" + " $" %>
                        <% #if(:daily_late_fee != nil)  
                            %>
                            <%= form.text_field :daily_late_fee,                        class: "form-control" 
                            %>


                        <%= form.label "Prepay Penality" + " $" %>
                        <% #if(:daily_late_fee != nil)  
                            %>
                            <%= form.text_field :prepay_pen,                        class: "form-control" 
                            %>
                </div>
            </div>
        </div>
        <div class="col-lg-2  outline" style="background:#f4e1e1;  padding: 10px; height:100%; ">
            <div class="panel">
                <div class="field  form_imput ">
                    <h3><strong> Finance - Schedule:   </strong></h3><br />
                          <%= form.label :current_date %>
                    <div class="cap-form">
                        <%= form.date_select :current_date, class: "custom-control" %>
                    </div>
                        <br /> 

                    <%= form.label :note_date %> <br />
                    <div class="cap-form">
                    <%= form.date_select :note_date,                                class: "custom-select"  %>
                    </div><br />

                    <%= form.label " Payment start date"  %>
                    <br />
                    <div class="cap-form">
                        <%= form.date_select :repay_start,                          class: "custom-select"  %><br />
                    </div><br />

                    <%= form.label :repay_1st %><br />
                    <div class="cap-form">
                        <%= form.date_select :repay_1st ,                            class: "custom-select" %><br />
                    </div><br />

                  

                    <%= form.label :repay_mature.to_s  %>
                    <%= #form.text_field :repay_mature 
                    %>
                    <div class="cap-form">
                        <%= # form.date_select  value: @blink ,                         class: "custom-select"  
                        %>

                        <%= form.date_select   :repay_mature ,                         class: "custom-select"  
                        %>
                    </div><br />
   

                      <%= form.label :final_date %>
                    <div class="cap-form">
                        <%= # form.text_field @blink_up.to_s#,  value: @blink.to_s,                               class: "custom-select"  
                        %>
                        <%= form.date_select :final_date,                           class: "custom-select"  
                        %>
                    </div><br />


                </div>
            </div>
        </div>

        <div class="col-lg-2  outline" style="background:#eee9cd;   padding: 10px; height:100%; ">
            <div class="panel">
                <div class="field  form_imput outline">
                    <h3>
                        <%= form.label "Agent Information: " %>
                    </h3><br >
                    
                    <%= form.label "Lender" %>
                    <%= form.collection_select :lender_id, @lenders, :id, :lend_name, :selected => :lend_id %>

                        <%= form.label "Commencement Month" %>
                        <%= form.text_field :commencement_m,                        class: "form-control"  %>
                        <%= form.label "Commencement Year "%>
                        <%= form.text_field :commencement_y,                        class: "form-control"  %>
                        <%= form.label "Total Deduction " %>
                        <%= form.text_field :total_ded,                             class: "form-control"  %>
                    <br >
                    <%= form.label "R3001 date" %>
                    <div class="cap-form">
                        <%= form.date_select :r3001_date,                           class: "custom-select"  %>
                    </div>
                     <!-- <div class="cap-form"> -->



                    <%= #form.label "Agency" 
                    %>
                    <%= #form.collection_select :agency_id, @agencies, :id, :agt_name, :selected => :agt_id 
                    %>
                    <%= form.label :agent_num %>
                    <%= form.text_field :agent_num,                                 class: "form-control"  %>
                    <br >
                    <br >
                  
                    <%= # form.label :agent_email 
                    %>
                    <%= # orm.text_field :agent_email,                               class: "form-control"  
                    %>

                    <%= # form.label :agent_phone 
                    %>
                    <%= # form.text_field :agent_phone,                               class: "form-control"  
                    %>

                    <%= form.label :term_assignment_mths %>
                    <%= form.text_field :term_assignment_mths,                      class: "form-control"  %>

                    <%= form.label :position %>
                    <%= form.text_field :position,                                  class: "form-control"  %>


                    <%= form.label :loan_account_num %>
                    <%= form.text_field :loan_account_num,                                class: "form-control"  %>



                </div>
            </div>

        </div>




        <div class="field  form_imput outline " > 
            <div class="actions pull-right col-lg-2 style="margin-top: 20px;"">
                <%= form.submit class: "btn btn-success" %>
            </div>  
        </div>
        





<div class="col-lg-2  outline" style="background:#eee9cd;   padding: 10px; height:100%; ">
    <div class="panel">
        <!-- <div class="field  form_imput outline"> -->

            <div class="cap-form">
                <h4>
                    <%= form.label "Payment Type" %><br />
                </h4>
                <%= #record.payment_type.to_s
                 %>
                <%= form.check_box(:payment_type, {}, 0, nil)        %>   Eletronic (ACH)   <br />

                <%= form.check_box(:payment_type, {}, 1, nil)        %>   Paper Check             <br />
                <h4>
                    <%= form.label "Banking Account" %><br />
                </h4>
                <%= form.check_box(:account_type, {}, 0, nil)    %>   Checking  <br />
                <%= form.check_box(:account_type, {}, 1, nil)    %>   Savings  <br />
                <%= #form.check_box(:position, {:multiple => true}, "paw", nil)         
                %>   
                <h4>
                    <%= form.label "Payment Owed" %><br />
                </h4>
                <%= form.check_box(:assignment_type, {}, 0, nil)    %>  New 1 - 120  <br />
                <%= form.check_box(:assignment_type, {}, 1, nil)    %>  New 121 - 180 <br />
                <%= form.check_box(:assignment_type, {}, 2, nil)    %>  Refinance  <br />
                <%= #form.check_box(:position, {:multiple => true}, "paw", nil)         
                 %>   
                 <!-- Gimmie Paw <br /> -->
                                 <h4>
                <%= form.label "Paper Check type" %><br />
                </h4>
                <%= form.check_box(:check_type, {}, 0, nil)        %>   Paper Check (Lender)      <br />
                <% # end %>
                <%= # form.check_box(:payment_type, {:multiple => true}, 1, nil)        
                %> <!--   Paper Check (Agency)      <br /> -->
                <%= form.check_box(:check_type, {}, 1, nil)        %>   Paper Check   (Agency)          <br />
                <%= form.check_box(:check_type, {}, 2, nil)        %>   Deduction     (Agency)        <br />
                <h4>
                   <%= form.label "Business Type" %><br />
                </h4>
                <%= form.check_box(:business_type, {}, 0, nil)    %>  Sole  <br />
                <%= form.check_box(:business_type, {}, 1, nil)    %>  Corp. or LLC <br />
              
                <%= #form.check_box(:position, {:multiple => true}, "paw", nil)         
                 %>   
                 <!-- Gimmie Paw <br /> -->
            </div>


                <!-- </div> -->
            </div>
        </div>




    <%= render "agencies/agent_select" , agencies: @agents 
    %>
    <%= render "lenders/lender_select" , lenders: @lenders 
    %>












        
        <% end %>
        <!-- </div> -->
    </div>
<!-- </div> -->
