<!-- _form_show.html.erb -->

<div class="row edit_show">
    <div class="panel panel-default col-lg-12">
        <%= form_with(model: record, local: true) do |form| %>
            <% if record.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>
                <ul>
                    <% record.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
            <% end %>
            <div class="actions pull-right">
                <%= form.submit %>
            </div>
            <div class="btn-group">
                <div class=" panel-button-name btn btn-primary pull-left">
                    Client Info 
                </div>
                <div class=" panel-button-client btn btn-primary pull-left">
                    Loan Info 
                </div>
                <div class=" panel-button-agent btn btn-primary pull-left">
                    Agent
                </div>
                
            </div>
            <div class="col-lg-5">
            <!--      <div class=" panel-button-client btn btn-primary pull-left">
            Client Info 
            </div> -->

            <div class="panel-body panel-name" style="">
                <h4 >Client Info :</h4> 
                <div class="field form_imput">
                    <%= form.label :loan_name %>
                    <%= form.text_field :loan_name, class: "form-control"  %>

                    <%= form.label :client_first_name %>
                    <%= form.text_field :client_first_name, class: "form-control"  %>

                    <%= form.label :client_last_name %>
                    <%= form.text_field :client_last_name, class: "form-control"  %>

                    <%= form.label :client_nick %>
                    <%= form.text_field :client_nick, class: "form-control"  %>
                    <!--        </div>
                    <div class="field"> -->
                    <%= form.label :address_street %>
                    <%= form.text_field :address_street, class: "form-control"  %>

                    <%= form.label :address_city %>
                    <%= form.text_field :address_city, class: "form-control"  %>

                    <%= form.label :address_state %>
                    <%= form.text_field :address_state, class: "form-control"  %>

                    <%= form.label :address_zip %>
                    <%= form.text_field :address_zip, class: "form-control"  %>
                    <!--      </div>
                    <div class="field"> -->
                    <%= form.label :guarantee01 %>
                    <%= form.text_field :guarantee01, class: "form-control"  %>
                    <% if(@record.guarantee02 != "none") %>
                        <%= form.label :guarantee02  %>
                        <%= form.text_field :guarantee02, class: "form-control" %>
                    <% elsif(@record.guarantee03 != "none") %>
                        <%= form.label :guarantee03 %>
                        <%= form.text_field :guarantee03, class: "form-control"  %>
                    <% else %>
                            
                    <% end %>
                    <!--    </div>
                    <div class="field"> -->
                    <%= form.label :fin_fee %>
                    <%= form.text_field :fin_fee, class: "form-control"  %>
                    <%= form.label "Term in months" %>
                    <%= form.text_field :repay_term1,  class: "  form-control " %>
                    <%= #form.text_field :repay_term1, ['7', '8', '10', '12', '18', '24'], class: "custom-select" 
                    %>
                    <% if(@record.repay_term2.to_s != "0") %>
                        <%= form.label :repay_term2.to_s + " :nth" %>
                        <%= form.text_field :repay_term2,  class: "form-control"%>
                    <% end %>

                </div>
            </div>
        </div>
            <div class="col-lg-5">
            <!--    <div class=" panel-button-name btn btn-primary  pull-left">
                   Loan Info 
            </div> -->
                <div class="panel-body panel-client"  style="">                <h4 >Loan Info :</h4> 
                    <div class="field form_imput">
                    <%= form.label "Lender " + Lender.find(record.lend_id).lend_name.to_s %>
                    <%=# form.text_field :lend_id, class: "form-control"  
                    %>
                    



                    <!--  </div>
                    <div class="field"> -->
                    <%= form.label :loan_amount %>
                    <%= form.text_field :loan_amount, class: "form-control"  %>
                        <!-- </div>
                        <div class="field"> -->
                    <%= form.label :total_amount %>
                    <%= form.text_field :total_amount, class: "form-control"  %>

                    <%= form.label :payment_mth_day %>
                    <%= form.text_field :payment_mth_day, class: "form-control"  %>

                    <%= form.label :loan_act_fee %>
                    <%= form.text_field :loan_act_fee, class: "form-control"  %>


                    <%= form.label :stated_rate %>
                    <div class="cap-form">
                        <%= form.text_field :stated_rate, class: "form-control" %>
                    </div>

                    <%= form.label :repay_penalty %>
                    <div class="cap-form">
                        <%= form.text_field :repay_penalty, class: "form-control"  %>
                    </div>

                    <%= form.label :daily_late_fee %>
                    <div class="cap-form">
                        <%= form.text_field :daily_late_fee, class: "form-control"  %>
                    </div>

                    <%= form.label :total_default %>
                    <%= form.text_field :total_default, class: "form-control"  %>
                    <!--   </div>
                    <div class="field"> -->


                    <%= form.label :current_date %>
                    <div class="cap-form">
                        <%= form.date_select :current_date, class: "custom-control  form-control " %>
                    </div>
                    <%= form.label :note_date %>
                    <div class="cap-form">
                        <%= form.date_select :note_date, class: "form-control"  %>    
                    </div>
                    <%= form.label :repay_start %>
                    <%= #form.date_select :current_date 
                    %>
                    <div class="cap-form">
                        <%= form.date_select :repay_start, class: "custom-control form-control " %>
                    </div>

                    <%= form.label :repay_1st %>
                    <div class="cap-form">    
                        <%= form.date_select :repay_1st, class: "custom-control form-control "  %>
                    </div>
                    <%= form.label :repay_mature %>
                     <div class="cap-form">    
                        <%= form.date_select :repay_mature, class: "form-control"  %>
                    </div>
                    <%= form.label :final_date %>
                    <div class="cap-form" > 
                        <%= form.date_select :final_date, class: "form-control" %>
                    </div>


                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class=" panel-body  panel-agent pull-left" >
                    <h4 >Agent Info :</h4> 
                        <div class="panel-body">
                    <div class="field form_imput">
                        <% setbar = record.agt_id%>
                    <%= form.label "Agent " + Agency.find(record.agt_id).agt_name.to_s %>
                    <%= form.text_field :agt_id, class: "form-control"  %>
                    

                        <%= form.label "Commencement Month" %>
                        <%= form.text_field :commencement_m, class: "form-control" %>

                        <%= form.label "Commencement Year" %>
                        <%= form.text_field :commencement_y, class: "form-control" %>
                        <br />
                        <%= form.label "Total Deduction" %>
                        <%= form.text_field :total_ded, class: "form-control" %>

                        <%= form.label :r3001_date %>
                        <%= form.text_field :r3001_date, class: "form-control" %>

                        <%= form.label :agent_num %>
                        <%= form.text_field :agent_num, class: "form-control" %>

                        <%= form.label :agent_email %>
                        <%= form.text_field :agent_email, class: "form-control" %>

                        <%= form.label :agent_phone %>
                        <%= form.text_field :agent_phone, class: "form-control" %>

                        <%= form.label "Assignment in months" %>
                        <%= form.text_field :term_assignment_mths, class: "form-control" %>
                      
                        <div class="cap-form">
                
                            <h4>
                                <%= form.label "Payment Type" %><br />
                            </h4>
                            <%= #record.payment_type.to_s
                             %>
                            <%= form.check_box(:payment_type, {}, 0, nil)        %>   Eletronic (ACH)   <br />

                            <%= form.check_box(:payment_type, {}, 1, nil)        %>   Paper Check             <br />
                            <h4>
                                <%= form.label "Banking Account" %><br />
                            </h4>
                            <%= form.check_box(:account_type, {}, 0, nil)    %>   Checking  <br />
                            <%= form.check_box(:account_type, {}, 1, nil)    %>   Savings  <br />
                            <%= #form.check_box(:position, {:multiple => true}, "paw", nil)         
                            %>   
                            <h4>
                                <%= form.label "Payment Owed" %><br />
                            </h4>
                            <%= form.check_box(:assignment_type, {}, 0, nil)    %>  New 1 - 120  <br />
                            <%= form.check_box(:assignment_type, {}, 1, nil)    %>  New 121 - 180 <br />
                            <%= form.check_box(:assignment_type, {}, 2, nil)    %>  Refinance  <br />
                            <%= #form.check_box(:position, {:multiple => true}, "paw", nil)         
                             %>   
                             <!-- Gimmie Paw <br /> -->
                            <h4>
                            <%= form.label "Paper Check type" %><br />
                            </h4>
                            <%= form.check_box(:check_type, {}, 0, nil)        %>   Paper Check (Lender)      <br />
                            <% # end %>
                            <%= # form.check_box(:payment_type, {:multiple => true}, 1, nil)        
                            %> <!--   Paper Check (Agency)      <br /> -->
                            <%= form.check_box(:check_type, {}, 1, nil)        %>   Paper Check   (Agency)          <br />
                            <%= form.check_box(:check_type, {}, 2, nil)        %>   Deduction     (Agency)        <br />
                            <h4>
                               <%= form.label "Business Type" %><br />
                            </h4>
                            <%= form.check_box(:business_type, {}, 0, nil)    %>  Sole  <br />
                            <%= form.check_box(:business_type, {}, 1, nil)    %>  Corp. or LLC <br />
                          
                             <!-- Gimmie Paw <br /> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="actions  pull-right ">
                <%= form.submit %>
            </div>
        <!-- </div> -->
        <% end %>
    <!-- </div> -->
    </div>
</div>
