<p id="notice"><%= notice %></p>
<h2>Loan Record Review</h2>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class=" panel-heading ">
                Basic information  
            </div>
            <div class="panel panel-body">
                <div class="col-lg-4 ">
                    <p>
                    <strong> Loan name:<span class="key"> #{loan_name} : </span></strong>
                        <%= @record.loan_name %>
                    <br />
                    <strong> Current date:<span class="key"> #{current_date} : </span></strong>
                        <%= @record.current_date %>
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                    <strong> Client first name:<span class="key"> #{client_first_name} : </span></strong>
                        <%= @record.client_first_name %>
                    <br />    
                    <strong> Client last name:<span class="key"> #{client_last_name} : </span></strong>
                        <%= @record.client_last_name %>
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>    
                    <strong> Client nick name :<span class="key"> #{client_nick} : </span></strong>
                        <%= @record.client_nick %>
                    </p>
                </div>
            </div>
        </div>
  
        <div class="panel panel-info">
            <div class=" panel-heading ">
                Address :   
            </div>
            <div class="panel-body">
                <p>
                    <strong> Client Address:<span class="key"> #{address} : </span></strong>
                    <%= @record.address_street %>
                    <%= @record.address_city %>
                    <%= @record.address_state %>
                    <%= @record.address_zip %>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class=" panel-heading ">
                Loan Details :   
            </div>
            <div class="panel-body">
                <div class="col-lg-4 ">
                    <p>
                    <strong>  Note Date: <span class="key"> #{note_date} :</span> </strong>
                        <%= @record.note_date %>
                    </p>
                    <p>
                    <strong> Loan Amount :<span class="key">  #{loan_amount} :</span> </strong>
                        <%= number_to_currency( @record.loan_amount ) %>
                    </p>
                    <p>
                    <strong> Finance Fee:<span class="key">  #{fin_fee} :</span> </strong>
                        <%= number_to_currency( @record.fin_fee ) %>
                    </p>
                                        <p>
                    <strong> Total Amount :<span class="key"> #{total_amount} :</span> </strong>
                    <%= number_to_currency( @record.total_amount ) %>
                    </p>
                </div>
                <div class="col-lg-4 ">
                    <p>
                    <strong> Repay term 12,24,36 :<span class="key">  #{repay_term1} :</span> </strong>
                    <%= @record.repay_term1 %>
                    </p>
                    <p>
                    <strong> Repay term 12,24,36:<span class="key">  #{repay_term2} :</span> </strong>
                    <%= @record.repay_term2 %>
                    </p>
                    <p>
                    <strong> Repay start :<span class="key"> #{repay_start} :</span> </strong>
                    <%= @record.repay_start %>
                    </p>

                    <p>
                    <strong> Repay 1st :<span class="key"> #{repay_1st} :</span> </strong>
                    <%= @record.repay_1st %>
                    </p>
                    <p>
                    <strong> Repay mature date :<span class="key"> #{repay_mature} :</span> </strong>
                    <%= @record.repay_mature %>
                    </p>

                </div>

                <div class="col-lg-4 ">
                    <p>
                    <strong> Payment Day :<span class="key"> #{payment_mth_day} :</span> </strong>
                    <%= @record.payment_mth_day %>
                    </p>

                    <p>
                    <strong> Activation Fee :<span class="key"> #{loan_act_fee} :</span> </strong>
                    <%= number_to_currency( @record.loan_act_fee ) %>
                    </p>
                    <p>
                    <strong> Stated Rate :<span class="key">  #{stated_rate} :</span> </strong>
                    <%= @record.stated_rate %>
                    </p>

                    <p>
                    <strong> Penalty Rate :<span class="key"> #{repay_penalty} :</span> </strong>
                    <%= @record.repay_penalty %>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 pull-right">
        <div class="panel panel-info">
            <div class=" panel-heading ">
                Financing Details :   
            </div>
            <div class="panel-body">
                <div class="col-lg-4 ">
                    <p>
                    <strong> Daily late Rate :<span class="key">  #{daily_late_fee} :</span> </strong>
                    <%= @record.daily_late_fee %>
                    </p>
                    <p>
                    <strong> Total :<span class="key">  #{total_default} :</span>  </strong>
                    <%= @record.total_default %>
                    </p>

                    <p>
                    <strong> Final Date :<span class="key"> #{final_date} :</span> </strong>
                    <%= @record.final_date %>
                    </p>
                </div>
                <div class="col-lg-4 ">
                    <p>
                      <strong> Backer 1 :<span class="key"> #{guarantee01} :</span> </strong>
                      <%= @record.guarantee01 %>
                    </p><p>
                      <strong> Backer 2 :<span class="key">  #{guarantee02} :</span> </strong>
                      <%= @record.guarantee02 %>
                    </p><p>
                      <strong> Backer 3 :<span class="key">  #{guarantee03} :</span> </strong>
                      <%= @record.guarantee03 %>
                    </p>
                </div>
            </div>    
        </div>
    </div>

    <div class="col-lg-6  pull-right">
        <div class="panel panel-info">
            <div class=" panel-heading ">
                Additional Fields - Agent information   
            </div>
            <div class="panel-body">
                <div class="col-lg-4 ">
                    <p>
               
                    <strong> Commencement Month :<span class="key">, #{commencement_m}</span> </strong>
                    <%= @record.commencement_m %>
                    </p>
                    <p>
                    <strong> Commencement Year : :<span class="key">, #{commencement_y} </span> </strong>
                    <%= @record.commencement_y %>
                    </p>
                    <p>
                    <strong> Total Ded :<span class="key">,  #{total_ded} :</span> </strong>
                    <%= @record.total_ded %>
                    </p>
                    <p>
                    <strong> 3001 Date :<span class="key">,  #{r3001_date} :</span> </strong>
                    <%= @record.r3001_date %>
                    </p>
                    </p>
                </div>
                <div class="col-lg-4 ">
                    <p>
                    <strong> Agent Number :<span class="key">,  #{agent_num} :</span> </strong>
                    <%= @record.agent_num %>
                    </p>
                    </p>
                    <p>
                    <strong> Agent Email :<span class="key">,  #{agent_email} :</span> </strong>
                    <%= @record.agent_email %>
                    </p>
                    </p>
                    <p>
                    <strong> Agent Phone :<span class="key">,  #{agent_phone} :</span> </strong>
                    <%= @record.agent_phone %>
                    </p>
                    </p>
                    <p>
                    <strong> Term Assignment :<span class="key">,  #{term_assignment_mths} :</span> </strong>
                    <%= @record.term_assignment_mths %>
                    </p>
                    <p>
                    <strong> Position :<span class="key">,  #{position} :</span> </strong>
                    <%= @record.position %>
                    </p>
                    
                </div>
            </div>    
        </div>
    </div>
</div>






<div class="btn btn-info">
	<%= link_to 'Edit', edit_record_path(@record) %> </div>
<!-- <div class="btn btn-primary">
	<%= # link_to 'To PDF', :controller => :pdf_pages, :action => :index, :rec_id => @record.id 
  %>
</div> -->