<p id="notice"><%= notice %></p>

<p>
  <strong>Agt busi name:</strong>
  <%= @agency.agt_busi_name %>
</p>

<p>
  <strong>Agt num:</strong>
  <%= @agency.agt_num %>
</p>

<p>
  <strong>Agt name:</strong>
  <%= @agency.agt_name %>
</p>

<%= link_to 'Edit', edit_agency_path(@agency) %> |
<%= link_to 'Back', agencies_path %>
