<div class="panel-body"> 
<%= form_with(model: @page_layout, local: true) do |form| %>
  <% if page_layout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page_layout.errors.count, "error") %> prohibited this page_layout from being saved:</h2>

      <ul>
      <% page_layout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
        <div class="col-lg-6 form_box" style="">
            

        <div class="input-group input-group-sm form-part">
            <span class="input-group-addon" id="sizing-addon1">
                <%= form.label :name %>
            </span>
                <%= form.text_field :name, :value => page_layout.name, class: "form-control"  %>
        </div>


            <div class="form-part ">
                <div class="col-lg-6 pull-left"> 
                    <div class="input-group input-group-sm ">
                      <span class="input-group-addon" id="sizing-addon1"><%= form.label :posx %></span>
                        <%= form.number_field :posx, class: "form-control" %>
                    </div>
                </div>
                <div class="col-lg-6 pull-right"> 
                    <div class="input-group input-group-sm ">
                      <span class="input-group-addon" id="sizing-addon1"><%= form.label :posy %></span>
                        <%= form.number_field :posy, class: "form-control" %>
                    </div>
                </div>
            </div>


            <div class="form-part ">
                <div class="col-lg-3 pull-left"> 
                    <div class="input-group input-group-sm ">
                      <span class="input-group-addon" id="sizing-addon1"><%= form.label :page_area %></span>
                        <%= form.number_field :page_area, class: "form-control" %>
                    </div>
                </div>

                <div class="col-lg-3 pull-right"> 
                    <div class="input-group input-group-sm ">
                      <span class="input-group-addon" id="sizing-addon1"><%= form.label :contract_id %></span>
                        <%= form.number_field :contract_id, class: "form-control" %>
                    </div>
                </div>
                <div class="col-lg-3 pull-right"> 
                    <div class="input-group input-group-sm ">
                      <span class="input-group-addon" id="sizing-addon1"><%= form.label :page_part %></span>
                        <%= form.number_field :page_part, class: "form-control" %>
                    </div>
                </div>
            </div>
        </div>
    </div>






        <div class="actions">
          <%= form.submit class: "btn btn-success "%>
        </div>  
    <% end  %>



</div>

