<div class="panel panel-default panel-info"> 
	<div class="panel-heading">
		<div class="row"> 
			<div class="col-sm-5">
				<p id="notice"><%= notice %></p>
			</div>
		</div> 
	</div>
	<div class="">
		<div class="row">
			<div class="panel col-md-3 col-md-offset-1 full-page start_page">
				<div class="panel-header">
					  <%=  image_tag "pF_logo_ani.gif", width: 300, height: 300, alt: ('PF Contract form : ' ), class: "image_offset" %>
				</div>
				<div class="panel-body page-body" > 
		  			<%= link_to "Create Pdf Record", guide_start_path, class: "btn btn-primary btn-lg btn-block btn-expand" %> 
		  			<%= link_to "Review Contracts", guide_map_path, class: "btn btn-success btn-block  btn-expand" %> 
		  			<%= link_to "Sign In", guide_login_path, class: "btn btn-default btn-block  btn-expand btn-expand-login" %> 
		  		</div>
			</div>
		</div>
	</div>
</div>
	<%  %>
