
<div class="panel panel-default panel-info">  
	<div class="panel-heading">

		<h2>Layouts of each Section</h2>
		<div class="row">
		<div class="col-md-6">Sections:<%= @contract.sections %>        </div>
		<div class="col-md-6"><span class="pull-right">Layouts:  <%= @layouts.length %> </span></div>
	  </div>
	</div>

	<div class="panel-body">
		<table class="tbl">
		  <thead>
			<tr>
			  <!-- <th>Book Name</th> -->
				<th>ID:</th>
				<th>Desc:</th>

				<th>Cont:</th>
				<th>Sect:</th>
				<th>Area:</th>

				<th>X:</th>
				<th>Y:</th>
				<!-- <th>Page part</th> -->
				<th colspan="2"></th>
			</tr>
		  </thead>
				<% @layouts.each do |layout| %>
			  	<tr>
				<td><%= layout.id %></td>
				<td><%= layout.name %></td>
		
				<td><%= layout.contract_id %></td>
				<td><%= layout.page_part %></td>
				<td><%= layout.page_area %></td>

				<td><%= layout.posx %></td>
				<td><%= layout.posy %></td>

				<td><div class="">
					<%= #link_to 'View', layout, class: "btn btn-default" 
					%></div></td>
				<td><div class="">
				  <%= link_to 'Change', edit_page_layout_path(layout), class: 'btn btn-info'  %></div></td>
				<td>
				<% if(params[:contract_id]) %>
					<div class="">
						<%= link_to 'Remove', layout, method: :delete, data: { confirm: 'Remove Layout?' }, class: "btn btn-danger" 
						%>
					</div>
				<% else %>
				<% end %>
				</td>
			  </tr>
			<% end %>
		</table>
	</div>

</div>