<div class="rows">
	<div class="col-md-5 col-md-offset-3 ">
		<div class="all_menu"> View All of type
			<div class="lay">
			<div class="btn btn-info"><%= link_to 'Books', books_path %></div>
			<div class="btn btn-success"><%= link_to 'Contracts', contracts_path %></div>
			<div class="btn btn-default"><%= link_to 'Page Sections', page_parts_path %></div>
			<div class="btn btn-info"><%= link_to 'Layouts', page_layouts_path %></div>
		
			</div>
		</div>
		<div class="lay">
			Create of each type
		    <%=  render "sort/new_menu" 
		    %>
		</div>

		<div class="lay">
			<%= render "sort/backstage" 
			%>
			
		</div>

	</div>
</div>