<div class="panel panel-default panel-warning">  
  <div class="panel-heading">
      <h2>Sections in Contract :<%= params[:id] %> </h2>
    <div class="row">
      <div class="col-md-6">Sections: </div>
      <div class="col-md-6"><span class="pull-right"><%= @page_parts.length %></span></div>
    </div>
  </div>
<%= %>
<%= %>
<%= %>
<%= %>






  <div class="panel-body">
    <table class="tbl">
    	<thead>
        <tr>
          <th>ID</th>
          <th>Area</th>
          <th>Section</th>
          <th>Content</th>
          <th>Contract</th>
          <th>Area</th>
          <th colspan="<%= @set_tbl_col.to_s %>"></th>
        </tr>
      </thead>

    <% @page_parts.each do |page_part| %>
          <tr>
            <td><%= page_part.id %></td>
            <td><%= page_part.page_area %></td>
            
            <td><%= page_part.name %></td>
            <td><%= page_part.content %></td>
            <td><%= page_part.contract_id %></td>
            <td><%= page_part.page_area %></td>
            <td><div class="">
              <%= #link_to 'View', page_part, class: "btn btn-default"  
              %></div></td>
            <td><div class="">
              <%= link_to 'Change', edit_page_part_path(page_part), class: "btn btn-info" %></div></td>
<!--             <td><div class="btn btn-danger">
              <%= #link_to 'Remove', page_part, method: :delete, data: { confirm: 'Are you sure?' } 
              %></div></td> -->
            <td>
            <% if(@needed == 1 )%>
                <div class="">
                    <%= link_to "Add Layout to #{page_part.id}", new_page_layout_path(contract_id: @contract.id, page_part: page_part.id ), class: "btn btn-info" %>
                </div>
            <% end %>
        </td>
        </tr>
        <% end %>

    </table>

  

        <div class=""><%= link_to "Add New Page Section", new_page_part_path(contract_id: @contract.id ), class: "btn btn-success pull-right btn-pad" %></div>

    </div>
</div>