<!DOCTYPE html>
<html>
    <head>
    <title>Contracts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': "reload" %>
    <%=    javascript_include_tag 'application', 'data-turbolinks-track': "reload"
     %>
    </head>

    <body>
        <div class="container">
            <div class="navbar navbar-info navbar-sm short-nav click-part">
                <h3 class=" pull-left">
                    <%= #image_tag "point_logo.png", class: "head_img" 
                    %>
                    <%=  image_tag "pF_logo_ani.gif", width: 60, height: 60, alt: ('PF Contract form : ' ) %>
                    <%= link_to "POINT FUNDING ", root_path %>
                </h3>
                <div class="">
                    <%= %>
                </div>
                <p class="notice"><%= notice %></p>      
                <p class="navbar-text pull-right">

                </p>
            </div>  
 
            <div class="row">
                <%= yield %>
            </div>
      </div>
  </body>
</html>
